@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #FFFFFF;
    --black:#000000;
    --dark: #161815;
    --heller-dark: #1E201D;
    --grey: #909090;
    --green: #6DE754;
    --dark-green: #1F392C;

    --font-family: 'SFProDisplay', sans-serif;

    --fw-regular: 400;
    --fw-semibold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--dark);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input, button {
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
}

/* === HEADER === */

.header {
    width: 100%;
    padding-top: 64px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1304px;
    margin: 0 auto;

    margin-bottom: 80px;
}

.header__nav a {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--grey);
}

.header__nav a:hover {
    color: var(--white);
    transition: 0.3s ease;
}

.header__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.button-1 {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--white);
    padding: 12px 32px;

    border-style: solid;
    border-radius: 12px;
    border-color: var(--green);
    border-width: 1px;
}

.button-2 {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--black);
    padding: 12px 32px;

    background-color: var(--green);
    border-radius: 12px;
}

.header__logo {
    cursor: pointer;
}

/* === HERO === */

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 852px;
    margin: 0 auto;
}

.hero__title {
    font-weight: var(--fw-semibold);
    font-size: 88px;
    color: var(--white);

    margin-bottom: 20px;
}

.hero__title-style {
    color: var(--green);
}

.hero__subtitle {
    max-width: 474px;
    margin: 0 auto;
    margin-bottom: 20px;

    letter-spacing: 0.02em;
    line-height: 24px;

    color: var(--grey);
    font-size: 16px;
    font-weight: var(--fw-regular);
}

.hero__form {
    display: flex;
    align-items: center;
    
    background-color: var(--dark);
    border: 1px solid var(--grey);
    border-radius: 16px;
    padding: 8px 8px 8px 40px;
    
    max-width: 480px;
    width: 100%;

    margin-bottom: 56px;
}

.hero__form input {
    flex: 1;                 
    color: var(--white);
    font-size: 16px;
}

.submit {
    background-color: var(--green);
    color: var(--dark-green);
    font-weight: var(--fw-semibold);
    cursor: pointer;

    border-radius: 12px;
    padding: 12px 32px;
}

/* Перекриття дефолтного фону та кольору тексту при автозаповненні */
.hero__form input:-webkit-autofill,
.hero__form input:-webkit-autofill:hover, 
.hero__form input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--white) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark) inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* === FEATURES === */

.features {
    margin-bottom: 106px;
}

.features__container {
    display: flex;
    gap: 32px;

    max-width: 1147px;
    margin: 0 auto;
}

.feature-card {
    background-color: var(--heller-dark);
    border-radius: 12px;
    padding: 24px;
}

.feature-card__title {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--white);

    padding-block: 16px;
    letter-spacing: 0.02rem;
    line-height: 20px;
}

.feature-card__description {
    font-weight: var(--fw-regular);
    font-size: 16px;
    color: var(--grey);

    letter-spacing: 0.02rem;
    line-height: 22px;
}

/* === PROMO === */

.promo {
    margin-bottom: 69px;
}

.promo__container {
    max-width: 1416px;
    margin: 0 auto;
}

.promo__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    align-items: center;

    width: 100%;
    background-color: var(--green);
    border-radius: 12px;
}

.promo__title {
    max-width: 420px;
    font-size: 48px;
    font-weight: var(--fw-semibold);
    margin-top: 56px;
}

.promo__secondary-title {
    font-size: 152px;
    font-weight: var(--fw-semibold);
}

.promo__description {
    font-weight: var(--fw-regular);
    letter-spacing: 0.02em;
    line-height: 24px;
}

.promo__image-wrapper {
    position: relative;
    max-width: 1302px;
    width: 100%;
    margin: 0 auto;

    margin-top: 12px;
}

.promo__image-wrapper::after {
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(180deg, rgba(109, 231, 84, 0) 0%, #6DE754 160%);
    
    pointer-events: none;
    z-index: 2;
}

.promo__image {
    display: block;
    width: 100%;
    height: auto;
}

.promo__logo {
    position: absolute;
    top: 39px;
    left: 26px;
    z-index: 2;
}

/* === SERVICES === */

.services {
    margin-bottom: 80px;
}

.services__container {
    display: flex;
    flex-direction: column;
    
    max-width: 1147px;
    width: 100%;
    margin: 0 auto;
}

.services__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.services__header-title {
    font-weight: var(--fw-semibold);
    font-size: 48px;
    color: var(--white);
    padding-bottom: 16px;
}

.services__header-subtitle {
    font-weight: var(--fw-regular);
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 16px;

    line-height: 20px;
    letter-spacing: 0.02em;
}

.services__header-button {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--white);

    border-style: solid;
    border-radius: 12px;
    border-width: 1px;
    border-color: var(--green);

    padding: 12px 32px;
    cursor: pointer;
}

.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    
    max-width: 1147px;
    width: 100%;
    margin: 0 auto;
}

/* === SHOWCASE === */

.showcase {
    background-color: var(--green);
    padding: 40px 0;
}

.showcase__container {
    max-width: 1036px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.showcase__item {
    max-width: 1036px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.showcase__content {
    max-width: 456px;
    width: 100%;
}

.showcase__title {
    font-size: 48px;
    font-weight: var(--fw-semibold);

    padding-bottom: 24px;
}

.showcase__description {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;

    padding-bottom: 24px;
}

.showcase__button {
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-color: var(--dark);
    border-radius: 12px;

    color: var(--black);
    font-size: 16px;
    font-weight: var(--fw-semibold);
    line-height: 20px;
    letter-spacing: 0.01em;

    padding: 12px 32px;
}

.showcase__item--reversed {
    flex-direction: row-reverse;    
}

/* === TEMPLATES === */

.templates {
    background-color: var(--dark);
    padding: 40px 0;
}

.templates__container {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.templates__content {
    max-width: 479px;
    width: 100%;
}

.templates__title {
    font-size: 48px;
    font-weight: var(--fw-semibold);
    color: var(--white);

    padding-bottom: 24px;
}

.templates__description {
    max-width: 456px;
    width: 100%;

    line-height: 22px;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: var(--fw-regular);
    color: var(--grey);

    padding-bottom: 24px;
}

.templates__button {
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-color: var(--green);
    border-radius: 12px;

    line-height: 20px;
    letter-spacing: 0.01em;
    font-size: 16px;
    font-weight: var(--fw-semibold);
    color: var(--white);

    padding: 12px 32px;
}