@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #FFFFFF;
    --black:#000000;
    --dark: #161815;
    --grey: #909090;
    --green: #6DE754;

    --font-family: 'SFProDisplay', sans-serif;

    --fw-regular: 400;
    --fw-semibold: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--dark);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input, button {
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
}

.header {
    width: 100%;
    padding-top: 64px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1304px;
    margin: 0 auto;

    margin-bottom: 80px;
}

.header__nav a {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--grey);
}

.header__list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.button-1 {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--white);
    padding: 12px 32px;

    border-style: solid;
    border-radius: 12px;
    border-color: var(--green);
    border-width: 1px;
}

.button-2 {
    font-weight: var(--fw-semibold);
    font-size: 16px;
    color: var(--black);
    padding: 12px 32px;

    background-color: var(--green);
    border-radius: 12px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 852px;
    margin: 0 auto;
}

.hero__title {
    font-weight: var(--fw-semibold);
    font-size: 88px;
    color: var(--white);

    margin-bottom: 20px;
}

.hero__title-style {
    color: var(--green);
    font-size: 88px;
}

.hero__subtitle {
    max-width: 474px;
    margin: 0 auto;
    margin-bottom: 20px;

    letter-spacing: 0.02em;
    line-height: 24px;

    color: var(--grey);
    font-size: 16px;
    font-weight: var(--fw-regular);
}

.hero__form {
    display: flex;
    align-items: center;
    
    background-color: var(--dark);
    border: 1px solid var(--grey);
    border-radius: 16px;
    padding: 6px 6px 6px 20px; /* 20px зліва для тексту, 6px справа для кнопки */
    
    max-width: 480px;
    width: 100%;
}

.hero__form input {
    flex: 1;                  /* Інпут займає ВЕСЬ вільний простір зліва */
    color: var(--white);
    font-size: 16px;
}